.container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.left-panel {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
}

.right-panel {
    flex: 3;
    padding: 10px;
    height: 770px;
}

.left-panel-input {
    padding: 0px 10px 0px 10px;
    width: calc(99% - 20px);
    margin-bottom: 10px;
    height: 40px;
}

.btn_finder {
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    background-color: #494444;
    color: white;
    text-align: center;
    cursor: pointer;
}

.btn_finder p {
    display: flex; /* Flexbox를 사용 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    justify-content: center; /* 가로 방향 가운데 정렬 */
    font-size: 15px;
    height: 30px; /* p 태그의 높이를 설정 */
}

.btn_finder p img {
    width: 30px;
    height: 25px;
    margin-left: 5px; /* 텍스트와 이미지 사이 간격 */
}  

.button {   
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.context-menu {
    position: absolute;
    z-index: 1000;
    width: 150px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,.15);
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
}

.context-menu li {
    padding: 8px 15px;
    cursor: pointer;
}

.context-menu li:hover {
    background-color: #f5f5f5;
}

.node-big-container {
    padding: 5px 0px;
}

.node-container {
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.node-container:hover {
    background-color: #726b6b;
}

.div-node-label {
    display: flex;
    align-items: center;
}

.node-label {
    padding: 0px 0px 0px 5px;
    color: #ffffff;
}

.node-label2 {
    padding: 0px 0px 0px 7px;
}

.node-label img {
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 50%;
    background-size: contain;
    width: 24px;
  }

