
.cld-table {
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
  }
  
.cld-table th, td {
border: 1px solid white;
}

.cld-table {
    height: 700px;
    width: calc(100% - 20px);
}

.cld-table td {
    width: 200px;
    height: 100px;
}

.cld-table th {
    padding: 1px 0px 2px 8px;
    color: white;
    font-size: x-large;
}

.cld-table th.weekend {
    color: red;
}

.cdl-day {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cdl-top {
    padding: 1px 0px 2px 8px;
    background-color: white;
    font-size: large;
    color: black;
}

.weekend .cdl-top {
    color: red;
}

.prev-month {
    opacity: 0.5;
}

.next-month {
    opacity: 0.5;
}

.cdl-body {
    height: 100%;
    font-size: large;
}






.new-day {
    height: 17px;
    margin: 5px 0px;
    padding: 4px 0px;
}

.new_line {
    height: 18px;
    padding: 2px 0px;
    font-size: 13px;
}

.first_line {
    margin-left: 10px;
    padding-left: 10px;
}

.last_line {
    margin-right: 10px;
}