@keyframes slideDown {
    from {
      top: 0px; /* 시작 위치 변경 */
      opacity: 0;
    }
    to {
      top: 20px; /* 최종 위치 유지 */
      opacity: 1;
    }
  }
  
  .text-finder {
    position: absolute;
    top: -100px; /* 초기 위치 유지 */
    left: 50; /* 수정: left 값을 명확하게 0으로 설정 */
    right: 0;
    background-color: #575656;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 99999;
    display: none; /* 기본적으로 숨김 유지 */
    opacity: 0; /* 시작 시 불투명도 유지 */
  }
  
  .text-finder.show.slideDown {
    display: block;
    animation: slideDown 0.3s forwards;
  }
  