.textAreaContainer {
    display: flex;
    width: 700px;
}

.lineNumbers {
    width: 40px; /* 행 번호 영역의 너비 조정 */
    height: 400px; /* 높이를 textarea와 동일하게 설정 */
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    margin-top: 3px;
    margin-right: 10px;
    user-select: none;
    color: grey;
    text-align: right; /* 행 번호를 우측 정렬 */
    padding-right: 5px; /* 우측 여백 추가 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨김 */
    pointer-events: none; /* 마우스 이벤트 무시 */
}

.lineNumbers::-webkit-scrollbar {
    display: none; /* Webkit 기반 브라우저에서 스크롤바 숨김 */
}

.textArea {
    width: calc(100% - 50px); /* 행 번호 영역 너비를 고려하여 조정 */
    height: 400px;
    overflow-y: auto;
}
  