/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-header {
  display: flex;
  position: fixed;
  justify-content: space-between; /* 양 끝에 요소를 배치하고, 중간 요소는 가운데에 위치 */
  align-items: center;
  width: 100%;
  background-color: #353535;
  padding: 10px 0px;
}

.center-container {
  flex: 1; /* 나머지 공간을 모두 차지하도록 설정 */
  display: flex;
  justify-content: center; /* 중앙 정렬 */
}

.right-container {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  min-width: max-content; /* 컨테이너의 최소 너비를 내용물 크기에 맞춤 */
}

.logo-slide-out {
  animation: slideOut 1s forwards; /* 애니메이션 지속시간과 방향을 설정합니다 */
}

@keyframes slideOut {
  to {
    transform: translateX(-43.5%); /* 왼쪽으로 이동하도록 transform을 적용합니다 */
  }
}

.logo-slide-in {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-43.5%);
  }
  to {
    transform: translateX(0);
  }
}

.text-fade-out {
  animation: fadeOutText 1s forwards;
}

@keyframes fadeOutText {
  to {
    opacity: 0;
  }
}

.text-fade-in {
  animation: fadeInText 1s forwards;
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-area {
  padding-top: 60px; /* 헤더 높이에 맞춰 상단 여백 추가 */
  transition: margin-left 1s, width 1s; /* 부드러운 전환 효과 */
  width: 100%; /* 기본 너비 */
}

.content-shifted {
  margin-left: 65px; /* 사이드바의 너비만큼 이동 */
  width: calc(100% - 65px); /* 사이드바 너비만큼 줄인 너비 */
}