/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-header {
  display: flex;
  justify-content: space-between; /* 양 끝에 요소를 배치하고, 중간 요소는 가운데에 위치 */
  align-items: center;
  width: 100%;
}

.center-container {
  flex: 1; /* 나머지 공간을 모두 차지하도록 설정 */
  display: flex;
  justify-content: center; /* 중앙 정렬 */
}

.right-container {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  min-width: max-content; /* 컨테이너의 최소 너비를 내용물 크기에 맞춤 */
}

.logo-slide-out {
  animation: slideOut 0.5s forwards; /* 애니메이션 지속시간과 방향을 설정합니다 */
}

@keyframes slideOut {
  to {
    transform: translateX(-44%); /* 왼쪽으로 이동하도록 transform을 적용합니다 */
  }
}
